// Below are sample variables.
$hs-primary-color: #000;
$hs-secondary-color: #fff;

$hs-spacing: 80px;

// Below are variables from Adobe xd

// :root {

//     /* Colors: */
//     --unnamed-color-f9f9f9: #F9F9F9;
//     --success: #01B27C;
//     --secondary: #250088;
//     --unnamed-color-dd4533: #DD4533;
//     --error: #FC6A59;
//     --warning: #FFBB03;
//     --periwinkle: #807FFF;
//     --orange: #FD4D00;
//     --magenta: #FF5DFF;
//     --teal: #8FD6C0;
//     --tangerine: #FFA200;
//     --blue: #007DFE;
//     --dark-grey: #707070;
//     --grey-01: #DEDDEA;
//     --white: #FFFFFF;
//     --grey-02: #F5F5F5;
//     --black: #231F20;
//     --background: #EDEFF7;
//     --primary: #0F0144;
//     --unnamed-color-15162e: #15162E;
//     --unnamed-color-d8d8d8: #D8D8D8;
//     --unnamed-color-000000: #000000;
    
//     /* Font/text values */
//     --unnamed-font-family-open-sans: Open Sans;
//     --unnamed-font-family-degular: Degular;
//     --unnamed-font-style-normal: normal;
//     --unnamed-font-weight-600: 600px;
//     --unnamed-font-weight-normal: normal;
//     --unnamed-font-size-18: 18px;
//     --unnamed-font-size-20: 20px;
//     --unnamed-font-size-24: 24px;
//     --unnamed-font-size-26: 26px;
//     --unnamed-font-size-28: 28px;
//     --unnamed-font-size-32: 32px;
//     --unnamed-font-size-36: 36px;
//     --unnamed-font-size-38: 38px;
//     --unnamed-font-size-40: 40px;
//     --unnamed-font-size-48: 48px;
//     --unnamed-font-size-50: 50px;
//     --unnamed-font-size-56: 56px;
//     --unnamed-font-size-58: 58px;
//     --unnamed-font-size-60: 60px;
//     --unnamed-font-size-68: 68px;
//     --unnamed-font-size-80: 80px;
//     --unnamed-character-spacing-0: 0px;
//     --unnamed-line-spacing-25: 25px;
//     --unnamed-line-spacing-34: 34px;
//     --unnamed-line-spacing-36: 36px;
//     --unnamed-line-spacing-40: 40px;
//     --unnamed-line-spacing-42: 42px;
//     --unnamed-line-spacing-44: 44px;
//     --unnamed-line-spacing-45: 45px;
//     --unnamed-line-spacing-48: 48px;
//     --unnamed-line-spacing-52: 52px;
//     --unnamed-line-spacing-56: 56px;
//     --unnamed-line-spacing-60: 60px;
//     --unnamed-line-spacing-65: 65px;
//     --unnamed-line-spacing-67: 67px;
//     --unnamed-line-spacing-68: 68px;
//     --unnamed-line-spacing-74: 74px;
//     --unnamed-line-spacing-76: 76px;
//     --unnamed-line-spacing-86: 86px;
//     --unnamed-line-spacing-93: 93px;
//     }
    
//     /* Character Styles */
//     .open-sans-—-18pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-18);
//     line-height: var(--unnamed-line-spacing-34);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--unnamed-color-000000);
//     }
//     .open-sans-—-20pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-20);
//     line-height: var(--unnamed-line-spacing-36);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-28pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-28);
//     line-height: var(--unnamed-line-spacing-93);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--white);
//     }
//     .open-sans-—-26pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-26);
//     line-height: var(--unnamed-line-spacing-42);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--grey-01);
//     }
//     .degular-—-28pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-28);
//     line-height: var(--unnamed-line-spacing-44);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .unnamed-character-style-1 {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-32);
//     line-height: var(--unnamed-line-spacing-56);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-24pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-24);
//     line-height: var(--unnamed-line-spacing-40);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-26pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-26);
//     line-height: var(--unnamed-line-spacing-40);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-26pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-26);
//     line-height: var(--unnamed-line-spacing-42);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .unnamed-character-style-2 {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-48);
//     line-height: var(--unnamed-line-spacing-67);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--grey-01);
//     }
//     .degular-—-36pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-36);
//     line-height: var(--unnamed-line-spacing-45);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-48pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-48);
//     line-height: var(--unnamed-line-spacing-65);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-28pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-28);
//     line-height: var(--unnamed-line-spacing-40);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-50pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-50);
//     line-height: var(--unnamed-line-spacing-60);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--unnamed-color-15162e);
//     }
//     .degular-—-58pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-normal);
//     font-size: var(--unnamed-font-size-58);
//     line-height: var(--unnamed-line-spacing-68);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-32pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-32);
//     line-height: var(--unnamed-line-spacing-48);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--white);
//     }
//     .degular-—-28pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-28);
//     line-height: var(--unnamed-line-spacing-44);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--unnamed-color-d8d8d8);
//     }
//     .open-sans-—-24pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-24);
//     line-height: var(--unnamed-line-spacing-74);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--white);
//     }
//     .degular-—-50pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-50);
//     line-height: var(--unnamed-line-spacing-60);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--unnamed-color-15162e);
//     }
//     .degular-—-32pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-32);
//     line-height: var(--unnamed-line-spacing-48);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--primary);
//     }
//     .degular-—-80pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-80);
//     line-height: var(--unnamed-line-spacing-93);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-38pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-38);
//     line-height: var(--unnamed-line-spacing-52);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-58pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-58);
//     line-height: var(--unnamed-line-spacing-68);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-28pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-28);
//     line-height: var(--unnamed-line-spacing-40);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-56pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-56);
//     line-height: var(--unnamed-line-spacing-60);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-40pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-40);
//     line-height: var(--unnamed-line-spacing-52);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .unnamed-character-style-3 {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-24);
//     line-height: var(--unnamed-line-spacing-25);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--white);
//     }
//     .open-sans-—-24pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-24);
//     line-height: var(--unnamed-line-spacing-74);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-20pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-20);
//     line-height: var(--unnamed-line-spacing-25);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--white);
//     }
//     .open-sans-—-20pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-20);
//     line-height: var(--unnamed-line-spacing-25);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-68pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-68);
//     line-height: var(--unnamed-line-spacing-86);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .open-sans-—-32pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-32);
//     line-height: var(--unnamed-line-spacing-45);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--orange);
//     }
//     .open-sans-—-32pt {
//     font-family: var(--unnamed-font-family-open-sans);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-32);
//     line-height: var(--unnamed-line-spacing-56);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }
//     .degular-—-60pt {
//     font-family: var(--unnamed-font-family-degular);
//     font-style: var(--unnamed-font-style-normal);
//     font-weight: var(--unnamed-font-weight-600);
//     font-size: var(--unnamed-font-size-60);
//     line-height: var(--unnamed-line-spacing-76);
//     letter-spacing: var(--unnamed-character-spacing-0);
//     color: var(--black);
//     }